version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: voice-assistant
    ports:
     - "8000:8000"
    environment:
     - APP_NAME=Голосовой AI-ассистент
     - DEBUG=False

     - WHISPER_MODEL_SIZE=base
     - WHISPER_DEVICE=cpu
     - WHISPER_COMPUTE_TYPE=int8

     - OLLAMA_BASE_URL=http://ollama:11434
     - OLLAMA_MODEL=llama3.2
     - OLLAMA_TIMEOUT=120

     - TTS_ENABLED=true
     - TTS_LANGUAGE=ru
    volumes:
      - whisper-cache:/root/.cache/huggingface
      - ./uploads:/app/uploads
      - ./output:/app/outputs
    depends_on:
      ollama:
        condition: service_started
    restart: unless-stopped
    networks:
      - voice-network

          

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes: 
      - ollama-data:/root/.ollama
    restart: unless-stopped
    networks:
      - voice-network

  ollama-init:
    image: ollama/ollama:latest
    container_name: ollama-init
    environment:
      - OLLAMA_HOST=ollama:11434
    depends_on:
      - ollama
    restart: "no"
    networks:
      - voice-network
    entrypoint: >
      sh -c "
        echo 'Ожидание запуска сервера ollama...' &&
        sleep 10 &&
        echo 'Загрузка модели llama3.2...' &&
        ollama pull llama3.2 &&
        echo 'Модель загружена'
      "
volumes:
  whisper-cache:
    name: whisper-cache
  ollama-data:
    name: ollama-data

networks:
  voice-network:
    driver: bridge